{%extends 'base.html'%}

{%block container%}
  <div id=div.eva>
    <select name="options">
    {% for evaluation in evaluations %}
        <option value={{ evaluation.id }} >{{ evaluation.name }}</option>
    {% endfor %}
    </select>
  </div>

    </br>
  <div id=map></div>
  <br>
  <div>
    <span>Radius: </span>
    <span><input id='radius' type="text" name="radius"></span>
  </div>
  <br>
  <button id="evaluate" type="button" >Evaluate</button>
  {%csrf_token%}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
{%endblock%}
