{%extends 'base.html'%}

{%block container%}
  <div id=div.eva>
    <select name="options">
    {% for evaluation in evaluations %}
        <option value={{ evaluation.id }} >{{ evaluation.name }}</option>
    {% endfor %}
    </select>
  </div>
  </br>
  <div>
    <span>
      <div id=map></div>
    </span>
      <span>
        <div>
            Unbalance coeficient:
          <input type="text" id="coeficient" name="coeficient"  disabled/>
        </div>
    </span>
  <div>
  <br>
  <div>
    <span>Radius: </span>
    <span><input id='radius' type="text" name="radius"></span>
  </div>
  <br>
  <button id="evaluate" type="button" >Evaluate</button>

{%endblock%}
